<h2>This is the new client page</h2>



<form action="/new/client" method="post">
    <label for="">Company name: </label>
    <input type="text" name="company_name">
    <label for="">address: </label>
    <input type="text" name="address">
    <button>Add</button>
</form>