<h1>This is the New record file for Managers & IT</h1>

    


<form action="/new/records" method="post">
    <label for="">Company id: </label>
    <input type="text" name="client_id">
    <label for="">Date: </label>
    <input type="text" name="date">
    <label for="">Report: </label>
    <input type="text" name="report">
    <label for="">Author: </label>
    <input type="text" name="user_id">
    <button>create</button>
</form>