<h1>This is the New record file from Engineer</h1>

    


<form action="/Engineer/new/records" method="post">
    <label for="">Company id: </label>
    <input type="text" name="client_id">
    <label for="">Date: </label>
    <input type="text" name="date">
    <label for="">Report: </label>
    <input type="text" name="report">
    <button>create</button>
</form>

