<h1>Engineer Index's page</h1>


<a href="/Engineer/new">Create a new report</a><br>



<div class="grid-container">
    <ul>
        <% @reports.each do |reports| %>
            <p><b>Date: </b><%= reports["date"] %><b> Author: </b><%= reports["name"] %><b> Company: </b><%= reports["company_name"] %><b> Report: </b><%= reports["report"] %></p>
        <% end %>
    </ul>
</div>